/* EXTERNALS DEPS */
/* defaults colors */
@font-face {
  font-family: "wf_segoe";
  src: url("resources/fonts/wf_segoe-ui_normal.woff"); }

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important; }

/* MAIN PANELS */
#__root_maduk_ {
  font-family: "arial";
  margin: 0px !important;
  padding: 0px !important; }
  #__root_maduk_ ul {
    list-style: none; }

#__mad_topper_ {
  position: absolute;
  min-width: 341px;
  left: -30%;
  top: 0px;
  width: 25%;
  height: 100%;
  z-index: 999999999;
  box-shadow: 0 0 5px #333; }

#__mad_bottom_ {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px; }

.__ul_mainpanel_ {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important; }

.__con_containeritems_ {
  width: 100%;
  height: 100%; }

.__ul_containeritems_top {
  width: 100%;
  height: 8%;
  background: #000;
  margin: 0px !important;
  padding: 0px !important; }
  .__ul_containeritems_top li {
    width: 20%;
    height: 100%;
    float: right;
    display: flex; }
    .__ul_containeritems_top li svg {
      fill: #FFF;
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      .__ul_containeritems_top li svg:hover {
        fill: #FF3D00; }

.__ul_containeritems_add {
  width: 100%;
  height: 0%;
  background: #000;
  float: left;
  margin: 0px !important;
  padding: 0px !important; }
  .__ul_containeritems_add li {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center; }
    .__ul_containeritems_add li span {
      width: 80%;
      height: 40%;
      cursor: pointer;
      align-self: center; }
    .__ul_containeritems_add li svg {
      fill: #FFF;
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      .__ul_containeritems_add li svg:hover {
        fill: #FF3D00; }

.__ul_containeritems_mid {
  width: 100%;
  height: 85%;
  list-style: none;
  float: left;
  overflow: auto;
  margin: 0px !important;
  padding: 0px !important; }

.__ul_containeritems_mid::-webkit-scrollbar {
  width: 5px; }

.__ul_containeritems_mid::-webkit-scrollbar-track {
  border-radius: 0px; }

.__ul_containeritems_mid::-webkit-scrollbar-thumb {
  background: #000; }

.__ul_containeritems_bot {
  width: 100%;
  height: 7%;
  list-style: none;
  float: left;
  margin: 0px !important;
  padding: 0px !important; }
  .__ul_containeritems_bot li {
    height: 100%;
    float: left; }

.item_pal {
  width: 14%;
  display: flex; }
  .item_pal svg {
    fill: #333;
    width: 70%;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
    .item_pal svg:hover {
      fill: #000; }

.input_pal {
  width: 86%; }
  .input_pal input {
    border: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 15px;
    background: transparent;
    color: #333; }

.__con_bottompanel_ {
  width: 100%;
  height: 100%; }
  .__con_bottompanel_ ul {
    list-style: none; }

.__con_bottompanel_left {
  width: 33.3%;
  height: 100%;
  float: left; }

.__con_bottompanel_mid {
  width: 33.3%;
  height: 100%;
  float: left; }

.__con_bottompanel_right {
  width: 33.3%;
  height: 100%;
  float: left; }

.__ul_bottompanel_right {
  width: 70%;
  height: 100%;
  float: right;
  margin: 0px !important;
  padding: 0px !important; }
  .__ul_bottompanel_right li {
    height: 100%;
    float: left; }
    .__ul_bottompanel_right li svg {
      width: 60%;
      fill: #333; }
    .__ul_bottompanel_right li p {
      font-size: 17px;
      font-family: "arial";
      text-align: right;
      font-weight: 700;
      color: #333; }

.__li_btp_item {
  width: 20%; }

.__li_btp_selector {
  width: 80%;
  overflow: hidden; }
  .__li_btp_selector p {
    margin: 0px;
    padding: 0px;
    line-height: 43px;
    padding-right: 20px; }

.__selection_class {
  border: 1px solid #000; }

.ul_selectors {
  width: 100%;
  height: 20%;
  min-height: 94px;
  float: left;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ECEFF1; }
  .ul_selectors li {
    width: 100%;
    float: left;
    display: flex; }

.__con_stages {
  width: 100%;
  height: auto;
  cursor: pointer; }

.ul_stages_props {
  width: 100%;
  height: 20%;
  float: left;
  padding: 0px;
  margin: 0px;
  background: #FF3D00;
  color: #FFF;
  display: flex; }
  .ul_stages_props li {
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column; }

.stages_items {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  float: left;
  overflow: hidden; }

.ul_selectors_pending {
  width: 100%;
  height: 15%;
  float: left;
  padding: 0px;
  margin: 0px;
  color: #333;
  display: flex;
  background: #CFD8DC; }
  .ul_selectors_pending li {
    height: 100%;
    float: left;
    display: flex; }

.stage_props {
  width: 85%;
  overflow: hidden;
  display: flex; }
  .stage_props div {
    width: 100%;
    height: 100%; }
    .stage_props div p {
      align-self: center;
      margin: 0px;
      padding: 0px;
      padding-left: 10px; }

.stage_name {
  display: flex; }
  .stage_name p {
    align-self: center; }

.stage_attrs {
  display: flex; }
  .stage_attrs p {
    align-self: center; }

.stage_items {
  width: 15%;
  display: flex; }
  .stage_items p {
    align-self: center;
    margin: 0px;
    padding: 0px;
    padding-left: 10px; }

.ul_stage_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  padding: 0px !important; }
  .ul_stage_items li {
    width: 100%;
    height: 100%;
    justify-content: center; }
    .ul_stage_items li svg {
      fill: #FFF;
      width: 35%;
      align-self: center; }
      .ul_stage_items li svg:hover {
        fill: #000; }

.selec_pend_name {
  width: 100%; }
  .selec_pend_name p {
    align-self: center;
    margin: 0px;
    padding: 0px;
    padding-left: 10px; }

.selec_pend_name_editable {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0px !important;
  padding: 0px !important; }
  .selec_pend_name_editable li {
    display: flex;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important; }
    .selec_pend_name_editable li p {
      font-size: 18px; }

.selec_pname_edit_input {
  width: 70%; }
  .selec_pname_edit_input input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px;
    background: transparent;
    font-size: 18px;
    -webkit-animation: opacity 0.8s infinite;
    -moz-animation: opacity 0.8s infinite;
    -o-animation: opacity 0.8s infinite;
    animation: opacity 0.8s infinite;
    animation-direction: alternate;
    opacity: 0.1; }

@-moz-keyframes opacity {
  from {
    opacity: 0.1; }
  to {
    opacity: 10; } }

@-o-keyframes opacity {
  from {
    opacity: 0.1; }
  to {
    opacity: 10; } }

@keyframes opacity {
  from {
    opacity: 0.1; }
  to {
    opacity: 10; } }

@-webkit-keyframes opacity {
  from {
    opacity: 0.1; }
  to {
    opacity: 10; } }

.selec_pname_edit_item {
  width: 30%; }
  .selec_pname_edit_item svg {
    align-self: center;
    width: 50%; }
  .selec_pname_edit_item button {
    width: 45px;
    height: 30px;
    align-self: center;
    color: #FFF;
    border: none;
    background: #000;
    border-radius: 5px;
    cursor: pointer; }
    .selec_pname_edit_item button:hover {
      color: #000;
      background: #FFF; }

.selec_pend_items {
  width: 40%; }

.ul_selec_pend_items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important; }
  .ul_selec_pend_items li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .ul_selec_pend_items li span {
      width: 55%;
      height: 30%;
      cursor: pointer;
      align-self: center; }
    .ul_selec_pend_items li svg {
      fill: #FFF;
      width: 100%; }
      .ul_selec_pend_items li svg:hover {
        fill: #000; }

.li_selec_label {
  height: 40%;
  color: #333;
  font-weight: 600; }
  .li_selec_label p {
    margin: 0px;
    padding: 0px;
    align-self: center;
    line-height: 35px;
    padding-left: 15px; }

.li_selec_props {
  height: 60%;
  color: #333; }

.ulc_select_props {
  width: 100%;
  height: 80%;
  float: left;
  align-self: flex-start;
  margin: 0px !important;
  padding: 0px !important; }
  .ulc_select_props li {
    width: 100%;
    height: 50%;
    float: left; }

.selector_lab_item {
  width: 15%;
  height: 100%;
  float: left;
  display: flex; }
  .selector_lab_item svg {
    width: 35%;
    fill: #546E7A;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.selector_label {
  width: 85%;
  height: 100%;
  float: left;
  display: flex; }
  .selector_label p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    align-self: center;
    line-height: 50px; }
