/* EXTERNALS DEPS */
/* defaults colors */
@font-face {
  font-family: "wf_segoe";
  src: url("resources/fonts/wf_segoe-ui_normal.woff"); }

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important; }

/* MAIN PANELS */
#__root_maduk_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 0px;
  margin: 0px !important;
  padding: 0px !important; }

#__main_maduk_ {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important; }

#__ul_mainpanel_ {
  width: 100%;
  height: 100%;
  background: #26292c;
  overflow: hidden;
  box-shadow: 0px 0px 10px #000;
  margin: 0px !important;
  padding: 0px !important; }

#__ul_containeritems_ {
  width: 20%;
  height: 100%;
  list-style: none;
  display: table;
  margin: 0px !important;
  padding: 0px !important; }
  #__ul_containeritems_ li {
    width: 25%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
    #__ul_containeritems_ li svg {
      fill: #FFF;
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      #__ul_containeritems_ li svg:hover {
        fill: #4FC3F7; }

.__selection_class {
  border: 1px solid #4FC3F7; }
