#__root_maduk_ {
    font-family: "arial";
    ul {
        list-style: none;
    }
    @include collapse();
}

#__mad_topper_ {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 999999999;
    box-shadow: 0 0 5px #333;
}

#__ul_mainpanel_ {
    width: 100%;
    height: 100%;
    background: #26292c;
    overflow: hidden;
    @include collapse();
}

#__con_containeritems_ {
    width: 100%;
    height: 100%;
}

#__ul_containeritems_top {
    width: 100%;
    height: 10%;
    display: table;
    @include collapse();
    li {
        width: 25%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        svg {
            fill: #FFF;
            width: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            &:hover {
                fill: #FFF176;
                ;
            }
        }
    }
}

#__ul_containeritems_mid {
    width: 100%;
    height: 83%;
    list-style: none;
    float: left;
    overflow: auto;
    @include collapse();
}

#__ul_containeritems_bot {
    width: 100%;
    height: 7%;
    list-style: none;
    float: left;
    display: table;
    border-top: 1px solid #52585f;
    @include collapse();
    li {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }
}

.item_pal {
    width: 14%;
    svg {
        fill: #FFF;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        &:hover {
            fill: #FFF176;
            ;
        }
    }
}

.input_pal {
    width: 86%;
    input {
        border: none;
        font-size: 18px;
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-left: 15px;
        background: transparent;
        color: #FFF;
    }
}

#__mad_bottom_ {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

#__con_bottompanel_ {
    width: 100%;
    height: 100%;
    ul {
        list-style: none;
    }
}

.__con_bottompanel_left {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_mid {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_right {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__ul_bottompanel_right {
    width: 70%;
    height: 100%;
    float: right;
    display: table;
    @include collapse();
    li {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        svg {
            width: 60%;
            fill: #333;
        }
        p {
            font-size: 17px;
            font-family: "arial";
            text-align: right;
            font-weight: 700;
            color: #333;
        }
    }
}

.__li_btp_item {
    width: 20%;
    padding-left: 10px;
}

.__li_btp_selector {
    width: 80%;
    max-width: 188px;
    overflow: hidden;
}

.__selection_class {
    border: 1px solid #000;
}

.ul_selectors {
    width: 100%;
    height: 25%;
    float: left;
    background: #FFF176;
    border-bottom: 1px solid #52585f;
    @include collapse();
    li {
        width: 100%;
        float: left;
    }
}

.li_selec_label {
    height: 30%;
    color: #333;
    font-weight: 700;
    p {
        padding: 0px;
        padding-left: 15px;
    }
}

.li_selec_props {
    height: 70%;
    color: #333;
    ul {
        width: 100%;
        height: 100%;
        float: left;
        @include collapse();
        li {
            width: 100%;
            height: 33.3%;
            float: left;
            display: table;
        }
    }
}

.selector_lab_item {
    width: 15%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    svg {
        width: 45%;
        fill: #333;
        display: block;
            margin-left: auto;
            margin-right: auto;
    }
}

.selector_label {
    width: 85%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    p {
        padding: 0px;
        margin: 0px;
    }
}