$color1: #333;
$color2: #000;
#__root_maduk_ {
    font-family: "arial";
    ul {
        list-style: none;
    }
    @include collapse();
}

#__mad_topper_ {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 999999999;
    box-shadow: 0 0 5px $color1;
}

#__mad_bottom_ {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

.__ul_mainpanel_ {
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow: hidden;
    @include collapse();
}

.__con_containeritems_ {
    width: 100%;
    height: 100%;
}

.__ul_containeritems_top {
    width: 100%;
    height: 8%;
    background: $color2;
    @include collapse();
    li {
        width: 20%;
        height: 100%;
        float: right;
        display: flex;
        svg {
            fill: #FFF;
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            &:hover {
                fill: #40ce00;
            }
        }
    }
}

.__ul_containeritems_add {
    width: 100%;
    height: 0%;
    background: $color2;
    float: left;
    @include collapse();
}

.__ul_containeritems_mid {
    width: 100%;
    height: 85%;
    list-style: none;
    float: left;
    overflow: auto;
    @include collapse();
}

.__ul_containeritems_bot {
    width: 100%;
    height: 7%;
    list-style: none;
    float: left;
    @include collapse();
    li {
        height: 100%;
        float: left;
    }
}

.item_pal {
    width: 14%;
    display: flex;
    svg {
        fill: $color1;
        width: 70%;
        display: block;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        &:hover {
            fill: $color2;
            ;
        }
    }
}

.input_pal {
    width: 86%;
    input {
        border: none;
        font-size: 18px;
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-left: 15px;
        background: transparent;
        color: $color1;
    }
}

.__con_bottompanel_ {
    width: 100%;
    height: 100%;
    ul {
        list-style: none;
    }
}

.__con_bottompanel_left {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_mid {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_right {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__ul_bottompanel_right {
    width: 70%;
    height: 100%;
    float: right;
    @include collapse();
    li {
        height: 100%;
        float: left;
        svg {
            width: 60%;
            fill: $color1;
        }
        p {
            font-size: 17px;
            font-family: "arial";
            text-align: right;
            font-weight: 700;
            color: $color1;
        }
    }
}

.__li_btp_item {
    width: 20%;
}

.__li_btp_selector {
    width: 80%;
    overflow: hidden;
    p {
        margin: 0px;
        padding: 0px;
        line-height: 43px;
        padding-right: 20px;
    }
}

.__selection_class {
    border: 1px solid #000;
}

.ul_selectors {
    width: 100%;
    height: 25%;
    float: left;
    border-bottom: 1px solid #e7e7e7;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    li {
        width: 100%;
        float: left;
    }
}

.ul_selectors_pending {
    width: 100%;
    height: 10%;
    float: left;
    padding: 0px;
    margin: 0px;
    background: #40ce00;
    color: #FFF;
    display: flex;
    border-bottom: 1px solid #FFF;
    li {
        height: 100%;
        float: left;
        display: flex;
    }
}

.selec_pend_name {
    width: 100%;
    display: flex;
    p {
        align-self: center;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
    }
}

.selec_pend_items {
    width: 40%;
}

.ul_selec_pend_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    @include collapse();
    li {
        width: 100%;
        height: 100%;
        svg {
            fill: #FFF;
            width: 60%;
            align-self: center;
            cursor: pointer;
        }
    }
}

.li_selec_label {
    height: 24%;
    color: $color1;
    font-weight: 600;
    display: flex;
    p {
        margin: 0px;
        padding: 0px;
        justify-content: center;
        line-height: 35px;
        padding-left: 15px;
    }
}

.li_selec_props {
    height: 76%;
    color: $color1;
}

.ulc_select_props {
    width: 100%;
    height: 100%;
    float: left;
    @include collapse();
    li {
        width: 100%;
        height: 50%;
        float: left;
    }
}

.selector_lab_item {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    svg {
        width: 40%;
        fill: #40ce00;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.selector_label {
    width: 85%;
    height: 100%;
    float: left;
    display: flex;
    p {
        padding: 0px;
        margin: 0px;
        align-self: center;
        line-height: 50px;
    }
}