#__root_maduk_ {
    z-index: 999999999;
    @include collapse();
}

#__mad_topper_ {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    @include collapse();
}

#__ul_mainpanel_ {
    width: 100%;
    height: 100%;
    background: #26292c;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000;
    @include collapse();
}

#__ul_containeritems_ {
    width: 20%;
    height: 100%;
    list-style: none;
    display: table;
    @include collapse();
    li {
        width: 25%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        svg {
            fill: #FFF;
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            &:hover {
                fill: #4FC3F7;
                ;
            }
        }
    }
}

#__mad_bottom_ {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

#__con_bottompanel_ {
    width: 100%;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 0px 10px #dfdfdf;
    ul {
        list-style: none;
    }
}

.__con_bottompanel_left {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_mid {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__con_bottompanel_right {
    width: 33.3%;
    height: 100%;
    float: left;
}

.__ul_bottompanel_right {
    width: 70%;
    height: 100%;
    float: right;
    display: table;
    li {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        svg {
            width: 60%;
            fill: #333;
        }
        p {
            font-size: 17px;
            font-family: "arial";
            text-align: right;
            font-weight: 700;
            color: #333;
        }
    }
    @include collapse();
}

.__li_btp_item {
    width: 20%;
    padding-left: 10px;
}

.__li_btp_selector {
    width: 80%;
    max-width: 188px;
    overflow: hidden;
}

.__selection_class {
    border: 1px solid #000;
}